<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>push_server</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../static/js/socket_event_listener.js"></script>
    <script type="text/javascript" src="../static/js/action.js"></script>
    <script type="text/javascript" src="../static/js/mouse_event_listener.js"></script>
</head>
<body onbeforeunload="checkLeave()">
<script type="text/javascript" charset="utf-8">
</script>
<div style="background-color:#FFD700;height: 900px; width:20%;float:left;">
    <div>
        姓名：<input type="text" id="name"/> <br/>
        <input type="button" value="join" onclick="joinGame()">
        <input type="button" value="move" onclick="move()">
    </div>
    <div id="result"></div>
</div>

<div id="GameBoard" style="background-color:#AAD700; height: 900px; width: 80%; float: right">
</div>

</body>
</html>